body {
    background-image: url("../images/whirlpool/whirlpool.png");
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: #fff;
}

h2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: #4aaaa5;
}

h3 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    color: #4aaaa5;
}

/* White header background */
#header {
    float: left;
    background: #fff;
    border-bottom: 2px solid #ccc;
    width: 100%;
    margin-bottom: 38px;
}

#name {
    background-color: #4aaaa5;
    float: left;
    padding: 2.5px 35px;
    margin-left: 155px;
}

/* Link to About */
#nav1 {
    float: left;
    margin-top: 32px;
    padding-right: 20px;
    margin-left: 435px;
    border-right: thin solid #ccc;
}

/* Link to Portfolio */
#nav2 {
    float: left;
    margin-top: 32px;
    padding-right: 20px;
    margin-left: 20px;
    border-right: thin solid #ccc;
}

/* Link to Contact */
#nav3 {
    float: left;
    margin-top: 32px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
}

a:hover {
    color: #4aaaa5;
}

/* Clear float */
.clear {
    clear: both;
}

/* Main content */
#main {
    float: left;
    width: 650px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-left: 155px;
}

#title {
    padding-bottom: 6px;
    border-bottom: 3px solid #ddd;
    margin-left: 12px;
    float: left;
    width: 96%;
    margin-bottom: 20px;
}

#image {
    float: left;
    width: 200px;
    margin: 0 20px 0 15px;
}

#bio {
    margin: 0 15px;
    line-height: 150%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
}

/* Side bar */
#links {
    float: left;
    width: 270px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: 40px;
    padding-bottom: 40px;
}

#connect {
    border-bottom: 2px solid #ddd;
    margin-left: 30px;
    float: left;
    width: 77%;
    margin-bottom: 20px;
}

/* Github icon */
#link1 {
    float: left;
    width: 60px;
    margin-left: 30px;
}

/* LinkedIn icon */
#link2 {
    margin-left: 14px;
    margin-right: 14px;
    float: left;
    width: 60px;
}

/* Stackoverflow icon */
#link3 {
    float: left;
    width: 60px;
}

/* Start of Contact style */
#form {
    float: left;
    margin: 20px 0 10px 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
}

/* Text form */
input[type=text] {
    width: 98%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

input::placeholder {
    color: #999;
}

/* Form for message */
#contact_msg {
    height: 200px;
}

/* Submit button */
input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px 32px;
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
}

#footer {
    float: left;
    background: #666;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    margin-top: 50px;
    padding: 20px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}